:root {
  // Colors
  --color-primary: #FFFFFF;
  --color-secondary: #1B1B1B;
  --color-accent: #6400ff;
  --color-accent-text: #FFFFFF;

  --color-success: #4CAF50;
  --color-error: #FF5252;
  --color-info: #67B3F0;
  --color-warning: #FB8C00;

  --color-black: #000000;
  --color-white: #FFFFFF;

  --color-grey-85: #D9D9D9;
  --color-grey-60: #999999;
  --color-grey-40: #666666;
  --color-grey-20: #333333;

  .app-dark {
    --color-primary: #272727;
    --color-secondary: #FFFFFF;
  }
}

// Breakpoints
$breakpoint-xsm: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1400px;
